.container {
  text-align: left;
}

.container .center {
  text-align: center;
}

.container .right {
  text-align: right;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.container .btn {
  display: inline-block;
  padding: .25rem 1rem;
  font-family: "PT Sans", sans-serif;
  color: #536895;
  border: .1rem solid #eee;
  border-radius: .1rem;
}
.container .btn:hover,
.container .btn:focus,
.container .btn:active,
.container .btn.active {
  color: #fff;
  background-color: #536895;
  border-color: #536895;
}

hr {
  max-width: 6rem;
  margin: 3rem auto;
  border-top-color: #eee;
  border-bottom: 0;
}

.collapse {
  display: none;
}

/* custom */
.theme-custom .sidebar,
.theme-custom .sidebar-toggle:active,
.theme-custom #sidebar-checkbox:focus ~ .sidebar-toggle,
.theme-custom #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #536895;
}

.theme-custom h1,
.theme-custom .container a,
.theme-custom .sidebar-toggle,
.theme-custom .related-posts li a:hover {
  color: #536895;
}
